<section>
    <div class="nav-container container">
        <div class="left-nav">
            <div class="logo">
                <img src = <%= assets.logo %> alt="Logo">
            </div>
        </div>

        <ul class="right-nav">
            <a href="/"><li>Home</li></a>
            <% if(loginInfo.isLogin && loginInfo.role == "admin") { %>
                <a href="/admin"><li>Admin</li></a>
            <% }  %>

            <% if(loginInfo.isLogin && loginInfo.role == "user") { %>
                <a href="/shop"><li>Shop</li></a>
            <% }  %>

            <% if(loginInfo.isLogin && loginInfo.role == "user") { %>
                <a href="/shop/cart"><li>Cart</li></a>
            <% }  %>

            <div style="position: relative;">
                <a class="navbar-user-logo" href="">
                    <div>
                        <img width="35px" src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_user2-512.png" alt="">
                    </div>
                </a>

                <div class="navbar-login-overlay">
                    <% if(!loginInfo.isLogin) {%>
                        <a href="/shop/user/login">
                            Login
                        </a>
    
                        <a href="/shop/user/signup">
                            Signup
                        </a>
                    <%} else { %>
                        <a href="/shop/user/orders">
                            Order history
                        </a>
                        <a href="/shop/user/logout">
                            Logout
                        </a>
                    <% } %>
                </div>

            </div>
        </ul>
    </div>
    <script src="/navbar.js"></script>
</section>