<section>
    <div class="nav-container container">
        <div class="left-nav">
            <div class="logo">
                <img src = <%= assets.logo %> alt="Logo">
            </div>
        </div>

        <ul class="right-nav">
            <a href="/"><li>Home</li></a>
            <a href="/admin"><li>Admin</li></a>
            <a href="/shop"><li>Shop</li></a>
            <a href="/shop/cart"><li>Cart</li></a>
        </ul>
    </div>
</section>