*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li{
    list-style: none;
}

a, a:visited{
    color: initial;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: 100%;
    display: block;
}

section{
    margin-bottom: var(--section-margin);
}

.container{
    max-width: 1200px;
    width: 95%;
    margin-inline: auto;
}

:root{
    --nav-font-size: 1rem;
    --section-margin: 5rem;
    --content-margin: 2rem;
}

button{
    padding: 0.7em 1.4em;
    border-radius: 100vh;
    font-size: var(--nav-font-size);
    cursor: pointer;
}

button:hover{
    scale: 1.05;
}

/* Navbar START */

.nav-container{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav{
    font-size: var(--nav-font-size);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-login-overlay{
    position: absolute;
    bottom: -100%;
    display: none;
    gap: 1rem;
    background-color: #007bff;
    padding: 1rem;
    border: 2px double black;
    border-radius: 5px;
    margin-left: 50%;
    transform: translate(-50%, 50%);
}

.navbar-login-overlay > a{
    color: whitesmoke;
    background-color: rgb(85, 85, 85);
    padding: 0.3em 0.6em;
    border-radius: 100vh;
    border: 1px dotted black;
}

.flex{
    display: flex;
}


/* Navbar END */

.center{
    text-align: center;
}

.gap{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card START */
.category-container{
    display: flex;
    flex-wrap: wrap;
    gap: var(--content-margin);
    margin-bottom: var(--content-margin);
}

.card{
    position: relative;
    display: block;  
    overflow: hidden;
    text-decoration: none;
    padding: 1em;
    width: 260px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-image-container{
    display: flex;
    justify-content: center;
    height: 150px;
}

.product-img{
    object-fit: contain;
}

.card-last-child{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card-container{
    margin-top: var(--section-margin);
    gap: 2rem;
}

/* Card END */

/*Form Start*/

.form-container{
    margin-block:var(--section-margin) ;
}

.form-container form{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    gap: 1rem;
    margin: auto;
}

.form-container form button{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.form-container form input{
    border-radius: 100vh;
    padding: 1rem;
    font-size: var(--nav-font-size);
}

/* cart Css start */

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    z-index: 999;
    animation: slideDown 0.5s ease-in-out forwards, hidePopup 2s ease-in-out forwards;
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0.1em);
    }
  }
  
  @keyframes hidePopup {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .hidden {
    display: none;
  }

.product-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-details img{
    max-width: 300px;
    border-radius: 30px;
}

.cart-heading{
    font-size: 3rem;
}

.cart-price{
    color: rgb(106, 9, 106);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--content-margin);
}

.reviews-container{
    margin-top: var(--content-margin);
}

.cart-item-container{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: var(--content-margin);
}

.cart-item-container > div{
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.cart-item-container > :first-child{
    display: flex;
    justify-content: center;
}

.cart-item-container img{
    max-width: 150px;
}

.cart-item-container button{
    padding: 0.1em 0.8em;
    border: 0;
}

.cart-button-area{
    display: flex;
    gap: 0.4em;
}

.buybtn{
    margin-top: var(--content-margin);
    color: aliceblue;
    background: #000;
    font-weight: 700;
}

/* cart Css end */



/*LOGIN Start*/
.Login-page-heading{
    margin-top: var(--content-margin);
    text-align: center;
}

.login-choice{
    margin-top: var(--section-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.selected{
    background-color: #007bff;
    color: white;
    padding: 0.3em 0.8em;
    border-radius: 100vh;
}

.login-container {
    width: 320px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.5s ease-out;
    
    
    button {
      width: 100%;
      padding: 12px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    button:hover {
      background-color: #0056b3;
    }
}
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .input-group input:focus {
    outline: none;
    border-color: #007bff;
  }

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    display: block;
    margin: auto;
    
    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
}
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/*LOGIN End*/

@media(max-width:512px){
    .cart-item-container{
        display: block;
    }

    .cart-item-container > div{
        display: block;
    }
}