<div class="form-container">
    <h1>Add new product</h1>
    <form action="/admin/products/add" method="post">
        <input type="text" name="name" placeholder="Enter product name" required>
        <input type="number" name="price" placeholder="Enter price" required>
        <input type="text" name="description" placeholder="Enter description" required>
        <input type="text" name="seller" placeholder="Enter seller" required>
        <input type="url" name="imageurl" placeholder="Enter imageurl" required>
        <input type="text" name="category" placeholder="Enter category" required>
        <button type="submit"> Submit </button>
    </form>
</div>